<link rel="stylesheet" href="/styles/footer.css">

<footer>
    <section class="links">
        <div class="f_infos">
            <h1>Infos</h1>
            <a href="/about.html">About</a>
            <a href="/vision.html">Vision</a>
            <a href="https://github.com/cherries-works">GitHub</a>
        </div>
        <div class="f_projects">
            <h1>Projects</h1>
            <a href="/project/pulse.html">Pulse</a>
            <a href="/project/deploy.html">Deploy</a>
        </div>
        <div class="f_articles">
            <h1>Articles</h1>
            <a href="/blogs.html">Blog</a>
            <a href="/news.html">News</a>
        </div>
    </section>
    <section class="title">
        <h1>
            cherries.works
        </h1>
    </section>
</footer>