<link rel="stylesheet" href="/styles/footer.css">

<footer>
    <section class="links">
        <div class="f_infos">
            <h1>Infos</h1>
            <a href="/about.html">About</a>
            <a href="/vision.html">Vision</a>
            <a href="https://github.com/cherries-works">GitHub</a>
        </div>
        <div class="f_projects">
            <h1>Projects</h1>
            <a href="/project/pulse">Pulse</a>
        </div>
        <div class="f_legal">
            <h1>Legal</h1>
            <a href="/tos.html">Terms of Service</a>
            <a href="/privacy.html">Privacy</a>
        </div>
        <div class="f_legal">
            <h1>Company</h1>
            <a href="/blogs.html">Blogs</a>
            <a href="/news.html">News</a>
        </div>
    </section>
    <section class="title">
        <h1>
            cherries.works
        </h1>
    </section>
</footer>