@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Fredoka:wght@300..700&display=swap');

html {
    --dark: #a41e32;
    --red: #ff183e;
    --bg: #c23838;
    --gray: #A29C9B;
    --dark-gray: #202020;
    --white: #f1f1f1;
}

body {
    margin: 0;
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    font-family: "Fredoka";
    font-weight: normal;
    margin: 0;
}

.emphasis {
    position: relative;
    color: var(--red);
    font-family: "Bitcount Grid Single", sans-serif;
}